body{
    margin: 0;
    padding: 0;
    /* background-color: purple; */

}
.main{
    /* border: solid purple; */
    width: 330px;
    height: 560px;
    /* background-color: purple; */
    margin: 40px auto;
    text-align: center;
    border-radius: 4px 4px;
}
h1{
    text-align: center;
    color:purple;
    /* background-color: purple; */
    font-size: 40px;
    text-shadow: 7px 5px 6px  gray;
}
img{
    border: none;
    width: 250px;
    height:  200px;
    align-items: center;
    margin-left: 40px;
    margin: 40px auto;
}
 button{
     background-color: purple;
     color: white;
     width: 35%;
     height: 60px;
     /* border: none; */
     border-radius: 10px;
     box-shadow: 2px 2px 4px  wheat;
     margin: auto;
 }
